<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Spring Boot单文件上传</h1>
<form method="POST" action="/web/upload" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="单文件上传" />
</form>
<br/>
<h1>SpringBoot多文件上传</h1>
<form method="POST" action="/web/uploads" enctype="multipart/form-data">
    <input type="file" name="file" /><br/><br/>
    <input type="file" name="file" /><br/><br/>
    <input type="file" name="file" /><br/><br/>
    <input type="submit" value="单文件上传" />
</form>
<br/>
<h1>SpringBoot文件下载</h1>
<form method="POST" action="/web/download" enctype="multipart/form-data">
    <input type="submit" value="下载" />
</form>

</body>
</html>